<meta name="google-signin-client_id" content="17394844799-g14bsmpn7ucaidhjfhhvgcjhit18lsv0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script> -->


<div class="wrap">
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
		    <div class="wrapper">
		    	<input type="hidden" name="msg" id="msg" value="${msg}" />
			    <form class="form-signin" id="frm" target="ifrm">  
				    <h2 class="form-signin-heading">로그인</h2>
				    <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력" required="아이디를 입력하세요." autofocus="" />
				    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required=""/>
				    <div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">      
				    		<button type="button" class="btn btn-lg btn-primary btn-block" id="btnLogin" style="margin-left:-10%">로그인</button>
				    	</div>
				    </div>
				    <br>
				    <hr>
					SNS 계정으로 간편 로그인
					<br>
					<br>
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
					<!-- <div>
					<a href="https://accounts.google.com/logout" title="구글 계정 삭제하기" >구글 계정 삭제하기</a>
					</div> -->
					<br>
<!-- 					<div id="naver_id_login"></div> -->
			    </form>
		    </div>
			</div>
		</div>
	</div>
</div>

<script src="js/member/memberLoginForm.js"></script>