<div class="wrap">
	<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script>
		
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
		    <div class="wrapper">
		    	<input type="hidden" name="msg" id="msg" value="${msg}" />
			    <form class="form-signin" id="frm" target="ifrm">  
				    <h2 class="form-signin-heading">로그인</h2>
				    <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력" required="아이디를 입력하세요." autofocus="" />
				    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required=""/>
				    <div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">      
				    		<button class="btn btn-default" id="btnLogin">로그인</button>
				    	</div>
				    </div>
				    <br>
				    <hr>
					SNS 계정으로 간편 로그인
					<br>
					<br>
					<div id="googleLogin" class="sns">
						<img src="img/member/btn_google_signin.png">
					</div>
			    </form>
		    </div>
			</div>
		</div>
	</div>
</div>
	
<script>
//로그인 체크
$("#btnLogin").click(function () {
	$.ajax ({
		url: "member/memLoginChk.do",
		type: "POST",
		dataType: "json",
		data: {
			id: $("#id").val(),
			password: $("#password").val(),
		}
	}).done(function(result) {
		console.log(result);
		if(result.loginChk){
			alert("로그인 성공!");
			$("#memLogin").attr("style", "display:none");
			$("#memJoin").attr("style", "display:none");
			$("#memInfo").attr("style", "display:block");
			$("#container").load("view/main/main.html");
		}
		else {
			alert("아이디 또는 비밀번호를 확인해주세요");
		}
	})
});

</script>