<div class="wrap">
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
	    	
	    		<div class="wrapper">
			    <form class="form-signin" id="frm" >
			    	<input type="hidden" id="msg" value="${msg}" />       
				    <h2 class="form-signin-heading">회원가입</h2>
				    <input type="email" class="form-control" name="id" id="id" maxlength="20" placeholder="아이디 입력" required="" autofocus="" />
				    <div id="idChkResult"></div>
				    <br>
				    <input type="text" class="form-control" name="name" id="name" maxlength="18" placeholder="이름 입력" required="" autofocus="" />   
				    <input type="password" class="form-control" name="pass" id="pass" maxlength="16" placeholder="비밀번호 입력" required=""/>      
				    <input type="password" class="form-control" name="passchk" id="passchk" maxlength="16" placeholder="비밀번호 확인" required=""/>   
					<br>
					<br>
				    <button type="button" class="btn btn-lg btn-primary btn-block" id="btnJoin">회원가입</button>
				    <br>
					<br>
					<br>
			    </form>
		    	</div>
			</div>
		</div>
	</div>
</div>

<script src="js/member/memberJoinForm.js"></script>