<meta name="google-signin-client_id" content="17394844799-g14bsmpn7ucaidhjfhhvgcjhit18lsv0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script>


<div class="wrap">
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
		    <div class="wrapper">
		    	<input type="hidden" name="msg" id="msg" value="${msg}" />
			    <form class="form-signin" id="frm" target="ifrm">  
				    <h2 class="form-signin-heading">로그인</h2>
				    <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력" required="아이디를 입력하세요." autofocus="" />
				    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required=""/>
				    <div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">      
				    		<button class="btn btn-lg btn-primary btn-block" id="btnLogin">로그인</button>
				    	</div>
				    </div>
				    <br>
				    <hr>
					SNS 계정으로 간편 로그인
					<br>
					<br>
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
					<!-- <div>
					<a href="https://accounts.google.com/logout" title="구글 계정 삭제하기" >구글 계정 삭제하기</a>
					</div> -->
					<br>
					<div id="naver_id_login"></div>
			    </form>
		    </div>
			</div>
		</div>
	</div>
</div>

<!-- 네이버아이디로로그인 초기화 Script -->
<!-- 네이버 연동 로그인-->
<script type="text/javascript">
	var naver_id_login = new naver_id_login("npBkQzysxHAaqLzBAh8p", "http://bit-easybook.com:9090/mini-prj2/index.html");
	var state = naver_id_login.getUniqState();
	naver_id_login.setButton("white", 2, 43);
	naver_id_login.setDomain(".bit-easybook.com");
	naver_id_login.setState(state);
	naver_id_login.setPopup();
	naver_id_login.init_naver_id_login();
</script>
				
	
<script>
//로그인 체크
$("#btnLogin").click(function () {
	$.ajax ({
		url: "member/memLoginChk.do",
		type: "POST",
		dataType: "json",
		data: {
			"id": $("#id").val(),
			"password": $("#password").val()
		}
	}).done(function(msg) {
		console.log(msg);
		if(msg == "Hello"){
			alert("로그인 성공!");
			$("#memLogin").attr("style", "display:none");
			$("#memJoin").attr("style", "display:none");
			$("#memInfo").attr("style", "display:block");
			$("#memLogout").attr("style", "display:block");
			$("#container").load("view/main/main.html");
		}
		else {
			alert("아이디 또는 비밀번호를 확인해주세요");
		}
	})
});

// 구글 연동 로그인 회원 정보 얻어오기
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  
  $.ajax ({
	  url: "member/memGoogleChk.do",
	  type: "POST",
	  dataType: "json",
	  data: {
		  "id": profile.getEmail(),
	  }
  }).done (function (result){
	  if(result.googleIdChk){
		  alert("구글 로그인 성공!");
		  $("#memLogin").attr("style", "display:none");
		  $("#memJoin").attr("style", "display:none");
		  $("#memInfo").attr("style", "display:block");
		  $("#memLogout").attr("style", "display:block");
		  $("#container").load("view/main/main.html");
	  }
	  else {
		  alert("추가 정보 입력을 위해 회원가입 페이지로 이동!");
// 		  $("#container").load("view/member/memberJoinForm.html?id="+profile.getEmail()+"&name="+profile.getName()+" );
		  $("#container").load("view/member/memberJoinForm.html");
		  alert("1")
		  localStorage.setItem("id", profile.getEmail());
		  localStorage.setItem("name", profile.getName());
		  localStorage.setItem("type", "google");
	  }
  })
};


// 구글 연동 로그아웃
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    console.log(auth2);
    auth2.signOut().then(function () {
    console.log('User signed out.');
    
    alert("로그아웃 성공!");
    $("#memLogin").attr("style", "display:block");
	$("#memJoin").attr("style", "display:block");
	$("#memInfo").attr("style", "display:none");
	$("#memLogout").attr("style", "display:none");
    $("#container").load("view/main/main.html");
    });
};



</script>