<div class="wrap" >
	<div id="content" class="product">
		<div class="proList">
			<div class="option">
				<div class="wrapper">
				<input type="hidden" id="msg" value="${msg}" />
					<form class="form-info" method="post" >
						<h3>아이디</h3> 	
						<input type="text" class="form-control" name="id" readonly /><br>
						<h3>이름</h3>
						<input type="text" class="form-control" name="name" readonly /><br>
						<h3>비밀번호 변경</h3>
						<input type="password" class="form-control" name="pass" placeholder="새로운 비밀번호"/><br>
						<input type="password" class="form-control" name="passChk" placeholder="새로운 비밀번호 확인"/><br>
						<button class="btn btn-lg btn-primary btn-block" id="btnUpdate">수정</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script>
// 비밀번호 변경
$("#btnUpdate").click(function () {
	$.ajax ({
		url: "member/memUpdate.do",
		type: "POST",
		dataType: "json",
		data: {
			password: $("#pass").val(),
			passChk: $("#passChk").val()
		}
	}).done(function(result) {
		
	})
});


if($("#msg").val() != "") {
	swal($("#msg").val());
}

</script>    
    
