<div class="wrap">
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
	    	
	    		<div class="wrapper">
			    <form class="form-signin" id="frm" >
			    	<input type="hidden" id="msg" value="${msg}" />       
				    <h2 class="form-signin-heading">회원가입</h2>
				    <input type="text" class="form-control" name="id" id="id" maxlength="20" placeholder="아이디 입력" required="" autofocus="" />
				    <input type="password" class="form-control" name="pass" id="pass" maxlength="16" placeholder="비밀번호 입력" required=""/>      
				    <input type="password" class="form-control" name="passchk" id="passchk" maxlength="16" placeholder="비밀번호 확인" required=""/>   
				    <input type="text" class="form-control" name="name" id="name" maxlength="18" placeholder="이름 입력" required="" autofocus="" />   
				    <input type="email" class="form-control" name="email" id="email" maxlength="25" placeholder="이메일 입력" required="" autofocus="" />   
					<br>
					<br>
				    <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnJoin">회원가입</button>
				    <br>
					
					<hr>
					SNS 계정으로 간편 회원가입
					<br>
					<br>
					<div id="googleJoin" class="sns">
     					<img src="img/member/btn_google_signin.png">
     				</div>
			    </form>
		    	</div>
			</div>
		</div>
	</div>
</div>

<script>
//회원가입 저장
$("#btnJoin").click(function () {
	$.ajax ({
		url: "membJoin.do",
		method: "post",
		data: {
			id: $("#id").val(),
			pass: $("#pass").val(),
			passchk: $("#passchk").val(),
			name: $("#name").val(),
			email: $("#email").val()
		} ,
		dataType: "json"
	})
});

// 아이디 중복 체크
/*$(function(){
	var checkAjaxSetTimeout;
    $('#id').keyup(function(){
        if ( $('#id').val().length > 6) {
            var id = $(this).val();
            // ajax 실행
            $.ajax({
                type : "POST",
                url : "memberJoinForm.do",
                data: {id: id},
                success : function(result) {
                    //console.log(result);
                    if (result) {
                        alert ("사용 가능한 아이디 입니다.");
                    } else {
                        alert ("사용 불가능한 아이디 입니다.");
                    }
                }
            }); // end ajax
        }
    }); // end keyup
});*/
</script>


<!-- 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="17394844799-g14bsmpn7ucaidhjfhhvgcjhit18lsv0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/api:client.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
 -->
