<div class="wrap">
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
	    	
	    		<div class="wrapper">
			    <form class="form-signin" id="frm" >
			    	<input type="hidden" id="msg" value="${msg}" />       
				    <h2 class="form-signin-heading">회원가입</h2>
				    <input type="email" class="form-control" name="id" id="id" maxlength="20" placeholder="아이디 입력" required="" autofocus="" />
				    <div id="idChkResult"></div>
				    <br>
				    <input type="text" class="form-control" name="name" id="name" maxlength="18" placeholder="이름 입력" required="" autofocus="" />   
				    <input type="password" class="form-control" name="pass" id="pass" maxlength="16" placeholder="비밀번호 입력" required=""/>      
				    <input type="password" class="form-control" name="passchk" id="passchk" maxlength="16" placeholder="비밀번호 확인" required=""/>   
					<br>
					<br>
				    <button class="btn btn-lg btn-primary btn-block" id="btnJoin">회원가입</button>
				    <br>
					<br>
					<br>
			    </form>
		    	</div>
			</div>
		</div>
	</div>
</div>

<script>
$(function() {
	alert("2")
	var type = localStorage.getItem("type");
	
	if(type == "google") {
		googleMemJoin();
	}
})
// 아이디(이메일)중복 검사
$("#id").on("keyup",function(){
	console.log($("#id"));
	$.ajax({
		url : "member/memIdChk.do",
		type:"POST",
		data :{ 
			"id": $("#id").val()
		},
		dataType : "json"
	})
	.done(function (result) {
		console.log(result)
		if(result.idCheck){
			$("#idChkResult").html("사용중인 아이디입니다");
		}
		else {$("#idChkResult").html("사용가능한 아이디입니다");}
	})
})



//회원가입 
$("#btnJoin").click(function () {
	$.ajax ({
		url: "member/memJoin.do",
		method: "post",
		data: {
			"id": $("#id").val(),
			"password": $("#pass").val(),
			"passchk": $("#passchk").val(),
			"name": $("#name").val()
		},
		dataType: "json"
	}).done(function (msg) {
		console.log(msg);
		if (msg == "Success") {
			alert("이미 가입한 아이디입니다.");
			return false;
		}
		alert("회원가입이 완료되었습니다.");
		$("#container").load("view/main/main.html");
	})
});



//구글 연동 회원가입
function googleMemJoin(){
	
	alert("3")
	console.log(localStorage.getItem("id"))
	var id = localStorage.getItem("id");
	$("#id").val(id);
	var name = localStorage.getItem("name");
	$("#name").val(name);
	
	$.ajax ({
		url: "member/googleMemJoin.do",
		type: "POST",
		dataType: "json",
		data: {
			"id": id,
			"name": name,
			"password": $("pass").val(),
			"passchk": $("#passchk").val()
		}
	}).done (function (msg) {
		console.log(msg);
		if (msg == "Success") {
			alert("이미 가입한 아이디입니다.");
			return false;
		}
		alert("회원가입이 완료되었습니다.");
		$("#container").load("view/main/main.html");
	})
};

</script>


<!-- 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="17394844799-g14bsmpn7ucaidhjfhhvgcjhit18lsv0.apps.googleusercontent.com">
<script src="https://apis.google.com/js/api:client.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
 -->
