<script id="detail-template" type="text/x-handlebars-template">
{{#detail}}
<div class="container">
	<div class="content">
		<ol class="breadcrumb">
		  <li><a href="${pageContext.request.contextPath}/main/main.do">Home</a></li>
		  <li class="active">자유게시판</li>
		</ol>
		<table class="table table-no-border">
		<tr>
			<td class="td-txt-right td-wp10">번호</td>
		 	<td>{{no}}</td>
		</tr>
		<tr>
			<td class="td-txt-right td-wp10">제목</td>
		 	<td>{{title}}</td>
		</tr>
		<tr>
			<td class="td-txt-right td-wp10">글쓴이</td>
		 	<td>{{memberId}}</td>
		</tr>
		<tr>
			<td class="td-txt-right td-wp10">내용</td>
		 	<td>{{content}}</td>
		</tr>
		<tr>
			<td class="td-txt-right td-wp10">첨부파일</td>
		 	<td><a href="${pageContext.request.contextPath}/upload${file.filePath}/${file.systemName}">${file.oriName}</a>(${file.fileSize} byte)</td>
		</tr>
		</table>
	</div>
	
	<div class="row">
		    <div class="col-md-9"></div>
		    <div class="col-md-3">
				<a href="javascript:updateFormPage({{no}});" class="btn btn-success btn-lg">수정</a>
				<a href="javascript:deletePage({{no}});" class="btn btn-danger btn-lg">삭제</a>
				<a href='list.do' class="btn btn-info btn-lg">목록</a>
		    </div>
	</div>
</div>
{{/detail}}
</script>

<div id="detail">
</div>
<script src="js/detail.js"></script>

