<script id="updateForm-template" type="text/x-handlebars-template">
{{#updateForm}}
<div class="container">
	<div class="content">
		<ol class="breadcrumb">
		  <li><a href="${pageContext.request.contextPath}/main/main.do">Home</a></li>
		  <li class="active">자유게시판</li>
		</ol>	
		
		<form action='update.do' method='post'>
			<input type="hidden" name="no" value="{{no}}" /> 
			<table class="table table-no-border">
			<tr>
				<td class="td-txt-right td-wp10">제목</td> 
			 	<td>
			 		<div class="form-group">
			 			<input type='text' name='title' class="form-control input-wp1" value="{{title}}" />
			 		</div>
			 	</td>
			</tr>
			<tr>
				<td class="td-txt-right td-wp10">글쓴이</td>
			 	<td>
			 		<div class="form-group">
			 			<input type='text' name='memberId' readonly class="form-control input-wp5" value="{{memberId}}" />
			 		</div>
			 	</td>
			</tr>
			<tr>
				<td class="td-txt-right td-wp10">내용</td>
			 	<td><div class="form-group">
			 		<textarea name='content' rows='5' cols='70' class="form-control" value="{{content}}" /></textarea>
			 		</div>
			 	</td>
			</tr>
			</table>
			
			<div class="row">
			    <div class="col-md-10"></div>
			    <div class="col-md-2">
					<a href="javascript:pageUpdate()" class="btn btn-primary btn-lg">수정</a>
					<a href='list.do' class="btn btn-info btn-lg">목록</a>
			    </div>
			</div>
		</form>
	</div>
{{/updateForm}}
</script>
<div id="updateForm">

</div>
<script src="js/updateForm.js"></script>