<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<link rel="stylesheet" href="../../css/calendar.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

	<script>
	$(function() {
	    $( "#testDatepicker" ).datepicker({
	    	closeText: '닫기',
			prevText: '이전달',
			nextText: '다음달',
			currentText: '오늘',
			monthNames: ['1월','2월','3월','4월','5월','6월',
			'7월','8월','9월','10월','11월','12월'],
			monthNamesShort: ['1월','2월','3월','4월','5월','6월',
			'7월','8월','9월','10월','11월','12월'],
			dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'],
			dayNamesShort: ['일','월','화','수','목','금','토'],
			dayNamesMin: ['일','월','화','수','목','금','토'],
			weekHeader: 'Wk',
			dateFormat: 'yymmdd',
			firstDay: 0,
			isRTL: false,
			showMonthAfterYear: true,
			showOtherMonths: true,
			yearSuffix: '년',
			minDate: new Date(),
			yearRange: 'c-99:c+99',
			onSelect: function (dateText) {
				EvtChangeMonthYear(dateText)
			}
	    
	    });
	});

	function EvtChangeMonthYear(dateText) {
		console.log($("#testDatepicker").val());

	}
	
	
	
	</script>
</head>
<body>
		<h2>1. 예약정보입력</h2>
		<hr>
		<p>ㄱ. 날짜선택</p>
			<div id="testDatepicker"></div>
	
	
	<script>


		
	</script>
</body>
</html>