<div id="bookView" class="view">
	<p id="brief"></p>
	<div id="leftArea"> 
		<div id="calendar">
			
		</div>
		<div id="rChoose">
			<form id="rForm">
				<h4>ㄴ.시간선택</h4>>
				<select id="startTime" name="startTime">
				</select>
				<select id="endTime" name="endTime">
				</select>
				<h4>ㄷ.예약자정보</h4>
				<input type="text" name="memberId" placeholder="아이디입력">
				<h4>숫자만 입력해주세요.</h4>
				<input type="text" name="memberMobileNo" placeholder="전화번호 입력">
				<h4>ㄹ.방선택</h4>
				<input type="radio" id="roomA" name="roomName" value="a">
				<label for="roomA">A</label>
				<input type="radio" id="roomB" name="roomName" value="b">
				<label for="roomA">B</label>
				<input type="radio" id="roomC" name="roomName" value="c">
				<label for="roomA">C</label>
				<input type="radio" id="roomD" name="roomName" value="d">
				<label for="roomA">D</label>
				<input type="radio" id="roomE" name="roomName" value="e">
				<label for="roomA">E</label>
				<input type="radio" id="roomF" name="roomName" value="f">
				<label for="roomA">F</label>
				<hr>
				<br>
				<button>예약</button>
			</form>
		</div>
	</div>
	<div id="centerArea">
		<img id="roomReservationInfo" width="500px" height="400px"/>
	</div>
	
	<div id="rightArea">
		<img id="roomSpecInfo" width="300px" height="400px"/>
	</div>
	<div id="bottom">
	</div>
</div>
