@CHARSET "UTF-8";
@import "campass/css3";

/* frame */
#datePicker {
  width: 350px;
  height: 0;
  margin: auto;
  display: table;
  box-shadow: 0 0 0 1px #656D78;
}

/* CALENDAR */
#datePicker .ui-datepicker {
  position: relative;
  width: 350px;
  padding: 0; margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* CALENDAR HEADER */
#datePicker .ui-datepicker-header {
  position: relative;
  height: 50px;
  padding: 0; margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

/* HEADER PREV/NEXT */
#datePicker .ui-datepicker-prev,
#datePicker .ui-datepicker-next {
  cursor: pointer;
  position: absolute;
  top: 0; bottom: 0;
  width: 50px; height: 50px;
  margin: auto;
  border-radius: 0;
  background: #FFF;
  -webkit-transition: background .3s ease-in-out;
}
#datePicker .ui-datepicker-prev { left: 0; }
#datePicker .ui-datepicker-next { right: 0; }
#datePicker .ui-datepicker-prev:hover,
#datePicker .ui-datepicker-next:hover {
  border: 0;
  background: #656D78;
}

/* HEADER PREV/NEXT ARROWS */
#datePicker .ui-datepicker-prev .ui-icon,
#datePicker .ui-datepicker-next .ui-icon {
  position: absolute;
  top: 0; left: 4px; right: 0; bottom: 0;
  width: 8px; height: 8px;
  margin: auto;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #434A54;
  background: transparent;
  -webkit-transition: border-color .3s ease-in-out;
  -webkit-transform: rotate(-45deg);
}
#datePicker .ui-datepicker-next .ui-icon {
  left: -4px;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
}
#datePicker .ui-datepicker-prev:hover .ui-icon,
#datePicker.ui-datepicker-next:hover .ui-icon {
  border-color: #FFF;
}

/* HEADER TITLE */
#datePicker .ui-datepicker-title {
  cursor: default;
  position: relative;
  width: 250px; height: 50px;
  padding: 0; margin: auto;
  background: #434A54;
  color: #FFF;
  line-height: 50px;
}

/* WEEKDAYS */
#datePicker .ui-datepicker-calendar { margin: 0; }
#datePicker .ui-datepicker-calendar thead th {
  cursor: default;
  height: 50px;
  padding: 0;
  background: #656D78;
  color: #FFF;
  line-height: 50px;
  text-transform: uppercase;
}

/* WEEKENDS */
#datePicker .ui-datepicker-calendar thead th.ui-datepicker-week-end { background: #434A54; color: #FFF; }
#datePicker .ui-datepicker-calendar tbody td { padding: 0; margin: 0; }
#datePicker .ui-datepicker-calendar tbody td.ui-datepicker-week-end { background: #FFF; }
#datePicker .ui-datepicker-calendar tbody td a.ui-state-default {
  width: 50px; height: 50px;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-transition: background .3s ease-in-out,
                      color .3s ease-in-out;
  
  color: #434A54;
  text-align: center;
  line-height: 50px;
}

/* DAY HOVER */
#datePicker .ui-datepicker-calendar tbody td a.ui-state-default:hover,
#datePicker .ui-datepicker-calendar tbody td a.ui-state-active {
  background: #656D78;
  color: #FFF;
}

/* NO DAYS */
.ui-datepicker-week-end.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled .ui-state-default{
  width: 50px; height: 50px;
  padding: 0;
  border: 0;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  text-align: center;
  line-height: 50px;
}
.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  width: 50px; height: 50px;
  padding: 0;
  border: 0;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  text-align: center;
  line-height: 50px;
}

.ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  width: 50px; height: 50px;
  padding: 0;
  border: 0;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  text-align: center;
  line-height: 50px;
}
#leftArea {
		padding-left: 250px;
		padding-top: 50px;
		float: left;
	}
	
	#centerArea {
		float: left;
		padding-left: 50px;
		padding-top: 50px;
	}
	#rightArea {
		padding-left: 50px;
		float: left;
		padding-top: 50px;
	}
	#bottom {
		padding-top: 50px;
		clear: both;
	}
