@CHARSET "UTF-8";

#chartView {
	width: 100%;
	height: 860px;
}
#chart1 {
	padding-left: 200px;
	padding-top: 200px;
	width: 50%;
	float: left;
	}
#chart2 {
	padding-top: 200px;
	width: 50%
	float: left;
	}
#bottom {
	clear: both;
}
#chartView > img {
	padding-top: 150px;
}